<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Stroke | Machine Learning</title>
</head>
<body>
<h1>This is web page for machine learning</h1>
<form action="{{url_for('predict')}}" method="post">
    <label>Gender</label>
    <input type="radio" value="1" name="gender">Male
    <input type="radio" value="0" name="gender">female
    <input type="text" placeholder="age">
    <input type="checkbox" value="1">Hyper-tension
    <input type="checkbox" value="1">Heart-disease
    <input type="radio" name="residence" value="0">Urban
    <input type="radio" name="residence" value="1">rural
    <input type="text" placeholder="glucose level">
    <input type="text" placeholder="BMI">
    <input type="radio" name="smoke">Formelly smoked
    <input type="radio" name="smoke">Never smoked
    <input type="radio" name="smoke">smokes
    <input type="radio" name="smoke">unknown
    <button>Submit</button>
</form>
</body>
</html>